.Work-container2 {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .Work-container2::-webkit-scrollbar {
    display: none;
  }
  
  .snap-wrapper {
    scroll-snap-align: start;
    flex: 0 0 auto;
  }
  
  
  .Work-button-wrapper2{
    position: absolute;
    margin-top: 20%;
    right: 5px;
  }