.About-section{
    width: 100%;
    height: 100%;
    /* background-color: #ff8800; */
    background-color: #571f7d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.About-heading{
    color: #ffffff;
}
.About-container{
    width: 70vw;
    height: fit-content;
    /* border: 2px solid white; */
    display: flex;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
    margin-top: 50px;
    /* align-items: center; */
    justify-content: space-around;
    border-radius: 12px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.About-img {
    width: 500px;
    height: 500px;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.About-img img{
    width: 400px;
    height: 400px;
    transition: all ease-in-out 0.5s;
    border-radius: 20px;
    /* filter: invert(100%); */
}
/* .About-img img:hover{
    width: 500px;
    height: 450px;
} */

.About-details{
    color:#ffffff;
    margin-right: 20px ;
    /* border: 2px solid red; */
}
.About-details h1{
    color:#ffffff;
    font-size: 50px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}




.About-details p{
    font-size: 18px ;
    font-weight: 400;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}


.About-para{
    width: 30vw;
}

.serve{
    /* border: 2px solid white; */
    color:#571f7d
}

.serve h1{
    color:#ffffff;
    font-size: 50px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

.serve li{
    font-size: 18px ;
    font-weight: 400;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    color: white;
}

/* Media Quiries */

@media screen and (max-width: 1164px) {
    .About-container{
        width: 95%;
        flex-direction: column;
    }
    .About-details {
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .About-details h1{
        text-align: center;
    }
    .About-para{
        text-align: center;
        width: 90%;
    }

    .serve{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        
    }

    .serve h1{
        text-align: center;
    }
    
}